.header_navigation-list {
  display: flex;
  gap: 20px;
}

.header_navigation-item {
  position: relative;
  padding: 20px 6px;
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.header_navigation-item::after {
  content: url(../../../assets/icons/down_arrow.svg);
  top: 0;
  left: 100px;
  display: block;
  width: 20px;
  height: 20px;
}

.header_navigation-link {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
}

.dropdown-content {
  position: absolute;
  top: 55px;
  left: -15px;
  min-width: 150px;
  display: none;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-content a:hover {
  color: #6db33f;
}

.header_navigation-item:hover .dropdown-content {
  display: block;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .header_navigation-list {
    gap: 5px;
  }

  .header_navigation-item {
    gap: 0;
  }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .header_navigation {
    display: none;
  }
}

@media (max-width: 799px) {
  .header_navigation {
    display: none;
  }
}
