.opportunities_container {
  max-width: 1344px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);
  padding: 50px 80px;
  gap: 24px;
  background-color: #ebf2f2;
}

.opportunity_item {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.2s;
}

.opportunity_item:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
  transform: translateY(-3px);
}

.opportunity_item-image img {
  width: 60px;
  height: 60px;
}

.opportunity_item-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.opportunity_item-title {
  font-size: 24px;
}

.opportunity_item-description {
  width: 330px;
  margin-bottom: 12px;
  line-height: 1.7rem;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .opportunities_container {
    padding: 50px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .opportunity_item-description,
  .opportunity_item-title {
    width: 240px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .opportunities_container {
    padding: 50px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .opportunity_item {
    flex: 1 1 auto;
  }

  .opportunity_item-description,
  .opportunity_item-title {
    width: 240px;
  }
}

@media (max-width: 799px) {
  .opportunities_container {
    padding: 50px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .opportunity_item-description {
    max-width: 430px;
    width: 100%;
  }
}
